[package]
name = "cortex"
version = "0.1.0"
edition = "2024"

[workspace]
resolver = "2"
members = [
  "crates/*",
#   "examples/*"
]

[dependencies]
bevy = { version = "0.17.3", features = ["dynamic_linking"] }
cortex-core = {path = "crates/core"}
cortex-bevy-plugin = {path = "crates/bevy_plugin", optional = true}
cortex-actionset-loader = {path = "crates/actionset_loader", optional = true}

[features]
default = [
  "bevy_plugin",
]

# Provides a way to load ActionSets as Assets from the filesystem.
actionset_loader = [
  "cortex-actionset-loader",
]

# Everything needed for an 'AI Server' setup of Cortex (i.e. using Cortex as a separate ECS world)
ai_server = [
  
]

# Provides a plugin that sets up most of the basic integration for a 'Bevy-native' setup.
bevy_plugin = [
  "cortex-bevy-plugin"
]

# Everything needed for a 'Bevy-native' setup (i.e. running Cortex as a Plugin in a Bevy app)
bevy_native = [
  "bevy_plugin"
]

# Everything needed to run tests.
testing = [
  "cortex-bevy-plugin"
]

all = [
  "actionset_loader",
  "ai_server",
  "bevy_plugin",
  "bevy_native",
  "testing",
]

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

[[example]]
name = "e2e"
path = "examples/e2e/e2e.rs"
