[package]
name = "bevy-cortex"
version = "0.1.0"
edition = "2024"

[workspace]
resolver = "2"
members = [
  "crates/*",
#   "examples/*"
]


[dependencies]
bevy = { version = "0.17.3", features = ["dynamic_linking", "file_watcher", "embedded_watcher", "serialize", "reflect_functions"] }
enum_delegate = "0.2.0"
rand = "0.9.2"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.148"
serde_yaml = "0.9.34"
goai-core = {path = "crates/core"}

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

[[example]]
name = "e2e"
path = "examples/e2e/e2e.rs"
