[package]
name = "bevy-cortex"
version = "0.1.0"
edition = "2024"

[workspace]
resolver = "2"
members = [
  "crates/*",
#   "examples/*"
]


[dependencies]
bevy = { version = "0.17.3", features = ["dynamic_linking", "serialize"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.148"
serde_yaml = "0.9.34"
cortex-core = {path = "crates/core"}
cortex-bevy-plugin = {path = "crates/bevy_plugin"}

# Enable a small amount of optimization in the dev profile.
[profile.dev]
opt-level = 1

# Enable a large amount of optimization in the dev profile for dependencies.
[profile.dev.package."*"]
opt-level = 3

[[example]]
name = "e2e"
path = "examples/e2e/e2e.rs"
